.page[data-v-c44c7f47]{display:flex;flex-direction:column;gap:16px;max-width:700px}.form[data-v-c44c7f47]{background:#fff;padding:16px;border:1px solid #e5eaf3;border-radius:12px;box-shadow:0 10px 30px #1a6dfc0d}
